<manifest xmlns:android="http://schemas.android.com/apk/res/android"
<<<<<<<< HEAD:Flutter/flutter_contador/android/app/src/debug/AndroidManifest.xml
    package="com.example.flutter_contador">
========
    package="com.example.flutter_app_1">
>>>>>>>> b113ae1e6014519ba49befa0220f19ee4c1739b5:Flutter/flutter_app_1/android/app/src/debug/AndroidManifest.xml
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
