* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    font-family: 'Bebas Neue', cursive;*/
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
}

footer {
    width: auto;
    height: 120px;
    background-color: rgb(66,66,66)
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 80px;
    object-fit: contain;
    margin: 10px;
}

.container-menu {
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, nav li a:hover {
    background-color: #32aae1;
    color: #FFF;
}

/*Banner*/
.banner {
    background-image: url('../prjt1/image/b7img/img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.banner-container-secundario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end ;
    color: white;
    width: 990px;
    height: 210px;
    background-color: #026fc5;
}
.banner-div1 {
    background-color: #03a2df;
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner-div2 {
    background-color: #026fc5;
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner-div3 {
    background-color: #034194;
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;}
.banner-container-secundario div h2 {
    font-size: 1.5rem;

    font-weight: lighter;
}
.banner-container-secundario div a {
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 5px;
}
.banner-container-divs {
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}


.banner-text {
    text-align: left;
    flex: 1;
    width: 990px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 2px 4px #333;
}
.banner-text p {
    max-width: 400px;
    font-size: 1rem;
}
.banner-text h1 {
    max-width: 400px;
    font-size: 5rem;
}
